# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/misc.xml
/modules.xml
/spring-security-jwt-tokenIwq-fe-nextjs.iml
/vcs.xml
/spring-security-jwt-token-fe-nextjs.iml
/node_modules/
.idea/
.next/
